includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    phpVersion: 80400
    excludePaths:
        analyseAndScan:
            - .temp/*

    paths:
        - database/factories
        - src

    level: max

    checkModelProperties: true

    tmpDir: .temp/phpstan
